@import 'Nav.css';
@import 'Main.css';
@import 'MetaMaskButton.css';
@import 'Footer.css';
@import 'Canvas.css';
@import 'Mint.css';
@import 'Intro.css';
@import 'FAQ.css';

/* generic site styles 
rgba(42, 181, 170);
*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root{
  background-color: #b8b8b8;
  font-family: 'Press Start 2P', cursive;
  font-size: medium;
}

html {
  box-sizing: border-box;
  font-size: 25px;
  background-color: #b8b8b8;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 15px;
}
