.footer{
    background-color:#E07e01;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.footer-container{
   margin:10px ;
}

.footer-container p{
display:inline;
}

.footer-container a{
    margin: 5px;
}



