.footer{
    background-color:#049CD8;
    width: 100%;
}

.footer-container{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    height:50px;
}

.footer-container p{
    display: flex;
    margin: 0 auto;
    color: white;
    font-size: 15px;
    padding-top: 12px;
}
.twitter-logo{
    margin-left: 30px;
    margin-right: 5px;
    
}
.footer-container a{
    text-decoration: none;
    color: white;
}

