.intro__container{
    width: 75%;
    margin: auto;
    margin-top: 25px;
   background-color: white;
}

.intro__text-container{
    padding: 20px;
    margin: auto;
    font-size: medium;
    color: black;
    border: 15px black;
    border-style: double;
}

h5{
    text-align: center;
}