
.main{
    background-color: #b8b8b8;
    width:100%
}
.main-container{
    width: 550px;
    margin:0px auto;
    margin-top: 20px;
}

.main-card__pic-preview {
    margin: auto;
}



.main-container figure{
    margin: 0 auto;
    padding:0;
}

.main-card__wrong-chain{
    color: red;
}

.text-highlight{
    color:#525aff;
    margin-left: 10px;
}

.nft-preview{
    margin: 0px auto;
    margin-bottom: -20px;
    font-weight: bold;
}
