
.main{
    background-color: #b8b8b8;
    width:100%
}
.main-container{
    width: 500px;
    min-height: 1000px;
    margin:0px auto;
    margin-top: 20px;
}


.main-container figure{
    margin: 0 auto;
    padding:0;
}

.text-highlight{
    color:#696969;
    margin-left: 10px;
}

.nft-preview{
    margin: 0px auto;
    margin-bottom: -20px;
    font-weight: bold;
}
