.MM-button-container{
    width: 420px;
    
    margin-top: 10px;
    margin-bottom: 10px;
}

.MM-button-items{
    display: flex;
    flex-flow: row;
    justify-content:space-between;
    gap: 1%;
}

.MM-button__logo-and-address,MM-Button-container__button{
   flex-basis: auto;
}

.MM-Button-container__button{
    font-size: 12px;
    font-family: inherit;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    background: none;
    border: 2px solid black;
    width: 120px;
}

.MM-Button-container__button:hover{
    background-color: darkslategrey;
    color: whitesmoke;
}

.address-text{
    font-size: 12px;
}

.mm-button__logo{
    margin-right: 10px;
}