
.mint-section{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    width: 100%;
    row-gap: 5px;
}

.mint-section button{
    width: 200px;
    margin: 20px auto;
    border-radius: 5px;
    background-color:#ff0000;
    border: none;
    color: white;
    padding: 10px;
}


.mint-section button:active{
    -webkit-box-shadow: inset 0px 0px 8px #949494;
    -moz-box-shadow: inset 0px 0px 8px #949494;
    box-shadow: inset 0px 0px 8px #949494;
    outline: none;
}

.mint-section a{
    font-size: 0.7rem;
}

.mint-section__content{
    flex-basis: 100%;
    margin-bottom: 10px;
}