.nav{
    background-color: #548cff;
    width: 100%;
}

.nav-container{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    width: 75%;
    margin: 0 auto;
}

.nav-images{

}

.nav-images__eyes{
    margin-left: 40px;
}


