
.mint-section{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    width: 100%;
    row-gap: 5px;
}

.mint-section button{
    width: 200px;
    margin: 20px auto;
    border-radius: 5px;
    background-color: #0275d8;
    border: none;
    color: white;
}

.mint-section button:hover{
    background-color: darkslategrey;
    color:white;
}

.mint-section button:active{
    background-color: black;
    color:white;
}

.mint-section a{
    font-size: 0.7rem;
}

.mint-section__content{
    flex-basis: 100%;
    margin-bottom: 10px;
}