
.mint-section{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    width: 100%;
}

.mint-section button{
    width: 200px;
    margin: 10px auto;
    border-radius: 5px;
    background-color: #0275d8;
    border: none;
    color: white;
}

.mint-section button:hover{
    background-color: darkslategrey;
    color:white;

}